<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="./libraries/images/favicon.png">


    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="./libraries/main/css/lib/html5-editor/bootstrap-wysihtml5.css" />
    <!-- Bootstrap Core CSS -->
    <link href="./libraries/main/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="./libraries/main/css/helper.css" rel="stylesheet">
    <link href="./libraries/main/css/style.css" rel="stylesheet">

    <title>Bitcoin</title>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="./libraries/main/bootstrap.min.css">

    <script type="text/javascript" src="./libraries/jquery-2.0.3.js"></script>
    <script type="text/javascript" src="./libraries/jquery.countdownTimer.js"></script>
    <link rel="stylesheet" type="text/css" href="./libraries/jquery.countdownTimer.css" />

    <script src="./libraries/angular.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
    <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="fix-header fix-sidebar" ng-app="tableApp" ng-controller="tableCtrl">
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
        <div class="header">

        </div>
        <!-- End header header -->
        <!-- Left Sidebar  -->
        <div class="left-sidebar" style="background-color: black;">
            <img src="./libraries/main/images/logo.png" style="margin-top: -30%;" height="50" width="70">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar" style="background-color: black;">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav" style="background-color: black;">
                    <ul id="sidebarnav">
                        <li class="nav-devider"></li>

                        <li>
                            <a href="/" aria-expanded="false">
                                <i class="fa fa-tachometer"></i>
                                <span class="hide-menu">Pool

                                </span>
                            </a>

                        </li>

                        <li>
                            <a href="/Vault" aria-expanded="false">
                                <i class="fa fa-columns"></i>
                                <span class="hide-menu">ORME Vaults</span>
                            </a>

                        </li>

                        <li>
                            <a href="#" aria-expanded="false">
                                <i class="fa fa-envelope"></i>
                                <span class="hide-menu">BTC Mined</span>
                            </a>

                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </div>
        <!-- End Left Sidebar  -->
        <!-- Page wrapper  -->
        <div class="page-wrapper" style="background-color: black;">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">BTC Mined</h3>
                </div>

                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="javascript:void(0)" style="color:goldenrod">Home</a>
                        </li>
                        <li class="breadcrumb-item active">BTC Mined</li>
                    </ol>
                </div>
            </div>
            <hr id="hr2">
            <!-- End Bread crumb -->
            <!-- Container fluid  -->

            <style>
                .button {
                    background-color: goldenrod;
                    /* Green */
                    border: none;
                    color: black;
                    padding: 15px 32px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                }

                .button:hover {

                    background-color: white;
                    color: goldenrod;
                }

                #hr2 {

                    border-top: 1px solid goldenrod;
                    width: 99%;
                    margin-left: 0%;

                }

                .hide-menu:hover {

                    color: goldenrod;
                }
            </style>




            <div class="container-fluid">
                <!-- Start Page Content -->
                <div class="row">
                    <div class="col-12">

                        <section class="card">
                            <div class="row">

                                <div id="chartContainer" style="height: 300px; width: 100%;"></div>

                            </div>

                            <br>
                            <br>




                        </section>

                        <script>
                            var chart = new CanvasJS.Chart("chartContainer", {
                                animationEnabled: true,
                                theme: "dark",
                                backgroundColor: "black",

                                axisX: {
                                    valueFormatString: "DD MMM",
                                    title: "Time ( Last 30 days)",
                                    crosshair: {
                                        enabled: true,
                                        snapToDataPoint: true
                                    }
                                },
                                axisY: {
                                    title: "Number of Bitcoins",
                                    crosshair: {
                                        enabled: true
                                    }
                                },
                                toolTip: {
                                    shared: true
                                },
                                legend: {
                                    cursor: "pointer",
                                    verticalAlign: "bottom",
                                    horizontalAlign: "left",
                                    dockInsidePlotArea: true,
                                    itemclick: toogleDataSeries,
                                    color: "white"
                                },
                                data: [{
                                        type: "line",
                                        showInLegend: true,
                                        name: "Bitcoins",
                                        markerType: "square",
                                        lineColor: "goldenrod",
                                        xValueFormatString: "DD MMM, YYYY",
                                        color: "black",
                                        dataPoints: [{
                                                x: new Date(2018, 2, 15),
                                                y: 308.90
                                            },
                                            {
                                                x: new Date(2018, 2, 22),
                                                y: 270.49
                                            },
                                            {
                                                x: new Date(2018, 2, 29),
                                                y: 297.20
                                            },
                                            {
                                                x: new Date(2018, 3, 5),
                                                y: 320.67
                                            }

                                        ]
                                    }

                                ]
                            });
                            chart.render();

                            function toogleDataSeries(e) {
                                if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                                    e.dataSeries.visible = false;
                                } else {
                                    e.dataSeries.visible = true;
                                }
                                chart.render();
                            }
                        </script>

                    </div>
                </div>
                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
            <!-- footer -->

            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
    </div>
    <!-- End Wrapper -->
    <!-- All Jquery -->
    <script src="./libraries/main/js/lib/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="./libraries/main/js/lib/bootstrap/js/popper.min.js"></script>
    <script src="./libraries/main/js/lib/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="./libraries/main/js/jquery.slimscroll.js"></script>
    <!--Menu sidebar -->
    <script src="./libraries/main/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="./libraries/main/js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <script src="./libraries/main/js/lib/html5-editor/wysihtml5-0.3.0.js"></script>
    <script src="./libraries/main/js/lib/html5-editor/bootstrap-wysihtml5.js"></script>
    <script src="./libraries/main/js/lib/html5-editor/wysihtml5-init.js"></script>
    <!--Custom JavaScript -->
    <script src="./libraries/main/js/custom.min.js"></script>
    <script src="./angular/tables.js"></script>

</body>

</html>